- if @notice
	#notice= @notice

- @recetas.each do |receta|
	#entrada
		#titulo= link_to receta.titulo, receta_path(receta)
		%p= receta.descripcion
		%pre= receta.codigo[0..100]

- if @mensaje
	#entrada
		%p= @mensaje
