<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @usuario.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @usuario.salt %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
